.header {
    /*set the style of the navbar*/
    background-color: #466995;
    border: 10px solid #466995;

    /*fixe the position*/
    position: fixed;
    z-index: 10;
    width: 100%;
    text-align: center;
    top: 0px;
    margin-top: 0px;

    /*turn the navbar to flex and center the content*/
    display: flex;
    justify-content: center;
}

.header li {
    color: #FFF;
    width: 80px;
    flex: 1;
    display: inline-block;
}

/*to change the color of the item when the cursor is on it*/
li:hover {
    color: #a0ccdc;
    cursor:pointer;
}

a {
    color: inherit;
    text-decoration: none;
}